source .venv/bin/activate
unset PS1

# PYTHONPATH
# export PYTHONPATH="$HOME/.local/radkit/versions/1.7.4/python/lib/python3.11/site-packages${PYTHONPATH:+:}$PYTHONPATH"

# Set the default browser to wslview
export BROWSER=/usr/bin/wslview

# RADKit
export RADKIT_ROOT="$HOME/git/expt-radkit/radkit"
export PATH="$RADKIT_ROOT/bin:$PATH"
